html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #212121;
}
.container {
  width: 360px;
  margin: 0 auto;
  padding: 0;
  background: #222222;
}
#game {
  position: relative;
  width: 360px;
  height: 256px;
  margin: 20px auto 0;
  cursor: none;
  border: 1px solid #f50;
}
#game .container {
  background: #232323;
}
#game .entity {
  position: absolute;
}
#game .hide {
  display: none;
}
#game .racket {
  border-radius: 15px;
  background: #80f;
  box-shadow:
    inset 1px 2px 5px #dcf
  , inset -1px -2px 2px #307;
}
#game .ball {
  border-radius: 15px;
  background: #8f0;
  box-shadow:
    inset 1px 1px 1px #efe
  , inset -2px -2px 1px #7c7;
}
#game .brick {
  border-radius: 2px;
  background: #aaa;
  box-shadow:
    inset 0px 1px 3px #fff
  , inset -1px -1px 2px #000;
}
#game .brick.extra {
  background: #fff;
}
#game .brick.double {
  background: #44c;
  box-shadow:
    inset 0px 1px 3px #ddf
  , inset -1px -1px 2px #001;
}
#game .brick.hot {
  background: #f73;
  box-shadow:
    inset 0px 1px 3px #fe7
  , inset -1px -1px 2px #210;
}
#buttons {
  text-align: center;
}
#buttons button {
  background: #f50;
  color: black;
  border: none;
  font-size: 9px;
}
#buttons button:hover {
  background: #fff;
  color: black;
  cursor: pointer;
}